.sellers {
  padding: 150px 0 150px;
  background: white;

  &__title {
    color: rgb(6, 26, 64);
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 47px;
  }
}

.swiper-pagination-bullet {
  // background: red;
}

.slide__img-contaier {
  display: flex;
  flex-wrap: wrap;
  gap: 30rem;
  justify-content: center;

  &_img {
    &-title {
      margin-top: 22rem;
      color: #003559;
      font-family: var(--ff);
      font-size: 20rem;
      font-weight: 700;
      line-height: 24rem;
      text-align: left;
    }
    &-price {
      margin-top: 11rem;
      color: #061a40;
      font-family: var(--ff);
      font-size: 28rem;
      font-weight: 900;
      line-height: 34rem;
    }
  }
}

.custom-bullet{
  opacity: 0.5;
  background: none;
  cursor: pointer;
  margin-left: 9rem;

  color: rgb(0, 53, 89);
  font-family: var(--ff);
  font-size: 15rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 11.5%;
  text-align: left;
  text-transform: uppercase;
}

.swiper-pagination-bulleta-active {
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  // color: red;
  opacity: 1;
  
  font-weight: 900;
 
}
