.sellers {
  // padding: 150px 100px  147px 150px;
  background: white;

  &__title {
    color: rgb(6, 26, 64);
    font-family: Playfair Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 47px;
  }
}

.swiper-pagination-bullet {
  // background: red;
}

.slide__img-contaier {
  display: flex;
  flex-wrap: wrap;
  gap: 30rem;
  justify-content: center;

  &__img {
    &-title {
      margin-top: 22rem;
      color: #003559;
      font-family: var(--ff);
      font-size: 20rem;
      font-weight: 700;
      line-height: 24rem;
      text-align: left;
    }
    &-price {
      margin-top: 11rem;
      color: #061a40;
      font-family: var(--ff);
      font-size: 28px;
      font-weight: 900;
      line-height: 34px;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
