.collections {
  &__title {
    color: rgb(6, 26, 64);
    font-family: Playfair Display;
    font-size: 64rem;
    font-weight: 700;
    line-height: 85rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 81rem;
  }

  .slide-info {
    max-width: 363rem;
    &__text {
      color: rgb(0, 53, 89);
      font-family: Lato;
      font-size: 20rem;
      font-weight: 700;
      line-height: 24rem;
      margin-top: 23rem;
      margin-bottom: 12rem;
    }
    &__price {
      color: rgb(6, 26, 64);
      font-family: Lato;
      font-size: 28rem;
      font-weight: 900;
      line-height: 34rem;
    }
  }


  &-swiper__container{
    position: relative;
  }

  &__button-prev{
    position: absolute;
    top: 36%;
    width: 58.71rem;
    height: 58.71rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 53, 89);
    left: 0;
    cursor: pointer;
  }
  &__button-next{
    position: absolute;
    right: 30rem;
    top: 33%;
    width: 58.71rem;
    height: 58.71rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 53, 89);
    cursor: pointer;
  }
}
